{% extends "base.html" %}
{% block content %}
<script>
  // todo: move this logic to backend (so you can replace js with <form>)
  function postStatus() {
    var date = new Date()
    var new_status =
      date.toISOString() +
      '\t' +
      document.getElementById('new-status').value +
      '\n'
    new_status = new_status.replace(
      /\@([a-z0-9]*)\b/i,
      '@<$1 https://$1.{{config.root_domain}}/twtxt.txt>'
    )
    fetch('/statuses', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: `status_text=${encodeURIComponent(new_status)}`
    }).then(() => {
      location.reload()
      document.getElementById("new-status").value = "";
    })
  }
</script>
<h1>{{config.server_name}} Statuses</h1>
{% include "header.html" %}
<h2>Recent status updates:</h2>
{% match person %}
  {% when Some with (p) %}
  <textarea
    id="new-status"
    placeholder="status text"
    maxlength="280"
    cols="70"
    rows="2"></textarea>
  <button onclick="postStatus()" class="button">Post new status</button>
  {% when None %}
{% endmatch %}
{% for status in statuses %}
<div class="status">
  <a href="https://{{status.username}}.{{config.root_domain}}">
  {{status.username}}</a>
  <em>{{status.time_ago}}</em>
  <div class="status-text">{{status.text}}</div>
</div>
{%endfor%}
{% if statuses.len() == 0 %}
<p>No one has posted any statuses yet!</p>
{% endif %}
{% endblock %}
