main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
  font-family: Helvetica, Arial, monospace;
  word-wrap: break-word;
}

.inline {
  display: inline;
}

img {
  max-width: 100%;
}

#editor {
  width: 100%;
  border: 1px solid #999999;
  width: 100%;
  margin: 5px 0;
  padding: 3px;
  resize: none;
}

.status {
  border: 1px solid black;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 0.5ch;
}

.status-text {
  font-family: monospace;
  padding: 0.5ch;
}

.button {
  background-color: white; /* Green */
  border: 1px solid black;
  text-decoration: none;
  padding: 2px 5px;
  display: inline-block;
  margin: 0px;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: black;
  color: white;
}

.error {
  color: red;
}

a {
  color: black;
  transition-duration: 0.2s;
  font-weight: bold;
}

a:hover {
  background-color: black;
  color: white;
}
