{% extends "base.html" %}
{% block content %}
<script>function addText() {
      var date = new Date();
      var new_status = date.toISOString() + "\t" + document.getElementById("new-status").value + "\n";;
      new_status = new_status.replace(/\@([a-z0-9]*)\b/i,"@<$1 https://$1.{{server_name}}/twtxt.txt>")
      let editor = document.getElementById("editor");
      editor.value += new_status
      document.getElementById("new-status").value = "";
}</script>
<h2>Editing {{filename}}</h2>
{% if filename == "twtxt.txt" %}
<textarea id="new-status" placeholder="status text" maxlength="140" cols="70" rows="2"></textarea><br>
<button onclick="addText()" class="button" id="create_new">Append status</button><br>
{% endif %}
<form id="edit-form" action="/edit/{{filename}}" method="POST">
  <textarea rows="20" name="file_text" id="editor">{{file_text}}</textarea>
  <br>
  <input type="submit" value="Save file" class="button">
</form>
{%endblock%}
