{% extends "base.html" %}
{% block content %}
<h1>Flounder: Manage Your Site</h1>
{% include "header.html" %}
{% for file in files %}
<p>
<div><em>updated {{file.time_ago}}</em> <a href="https://{{file.username}}.{{server_name}}/{{file.user_path}}">{{ file.user_path }}</a> <a href="/edit/{{file.user_path}}">edit</a> <form action="/delete/{{file.user_path}}" method="POST" class="inline"> <input class="button" type="submit" value="delete"></form>
</div>
</p>
{% endfor %}
<noscript>Create a new file by going to /edit/{filename}</noscript>
<input id="edit_new"> <a href="#" id="create_new">Create New File</a>
<br>
<script>
    var input = document.getElementById('edit_new');
    var create = document.getElementById('create_new');
    input.onchange = input.onkeyup = function() {create.href = "/edit/" + input.value;};
</script>
<br>
<form action="/upload" enctype="multipart/form-data" method="POST">
  <input type="file" id="myFile" name="file">
  <input type="submit" value="Upload File" class="button">
</form>
{% endblock %}
