{% extends "base.html" %}
{% block content %}
<h1>Flounder: Manage Your Site</h1>
{% include "header.html" %}
{% for file in files %}
<p>
<div><em>updated {{file.time_ago}}</em> <a href="/user/{{file.username}}/{{file.user_path}}">{{ file.user_path }}</a> <a href="/edit/{{file.user_path}}">edit</a> <form action="/delete/{{file.user_path}}" method="POST" class="inline"> <input class="button" type="submit" value="delete"></form>
</div>
</p>
{% endfor %}
</ul>

<form action="/upload" enctype="multipart/form-data" method="POST">
  <input type="file" id="myFile" name="file">
  <input type="submit" value="Upload File" class="button">
</form>
{% endblock %}
