{% extends "base.html" %}
{% block content %}
<h1>🐟Flounder: Managing <a href="https://{{username}}.{{server_name}}">{{username}}.{{server_name}}</a></h1>
{% include "header.html" %}
{% for file in files %}
<p>
<div><em>updated {{file.time_ago}}</em> <a href="https://{{file.username}}.{{server_name}}/{{file.user_path}}">{{ file.user_path }}</a>  <a href="/edit/{{file.user_path}}">edit</a>  <form action="/delete/{{file.user_path}}" method="POST" class="inline"> <input class="button" type="submit" onclick="return confirm('Are you sure you want to delete this file?');" value="delete"></form>
</div>
</p>
{% endfor %}
<h3>Create file by name:</h3>
<noscript>Create a new page by going to /edit/{filename}</noscript>
<input id="edit_new" placeholder="New filename, e.g. newfile.gmi"> <a href="#" id="create_new">Edit new page</a>
<br>
<script>
    var input = document.getElementById('edit_new');
    var create = document.getElementById('create_new');
    input.onchange = input.onkeyup = function() {create.href = "/edit/" + input.value;};
</script>
<br>
<form action="/upload" enctype="multipart/form-data" method="POST">
  <input type="file" id="myFile" name="file" multiple>
  <input type="submit" value="Upload file" class="button">
</form>
{% endblock %}
