{% extends "base.html" %}

{% block content %}
  <h1>🐟Flounder: Statuses</h1>
  {% include "header.html" %}
  <h2>Recent status updates:</h2>
  {% if logged_in %}
  <p>Write/update statuses on your <a href="/edit/twtxt.txt">twtxt</a> file.</p>
  {% endif %}
  {% for status in statuses %}
  <div class="status">
  <a href="https://{{status.username}}.{{server_name}}"><b>{{status.username}}</b></a> <em>{{status.time_ago}}</em><br>
  <div class="status-text">{{status.text}}</div></div>
  {%endfor%}
{% endblock %}
