main{
  max-width:70ch;
  padding:2ch;
  margin:auto;
  font-family: Helvetica, Arial, monospace;
}

.inline {
  display: inline;
}

img {
  max-width: 100%;
}
.button {
background-color: white; /* Green */
border: 1px solid black;
text-align: center;
text-decoration: none;
padding:2px 5px;
display: inline-block;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: black; 
  color: white;
}

.error {
  color: red;
}

a {
  color: black;
  transition-duration: 0.2s;
}

a:hover {
  background-color: black; 
  color: white;
}
